<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel ="stylesheet"href ="/css/main.css">
    
    
</head>

<body>
  <h1>Añadir nueva imagen</h1>
  <div class="container">
  <form method ="post">
    <label for="Titulo">Titulo
      <input type="text" id="Titulo" name="Titulo" placeholder="Titulo" required>
  
    </label>
   
    <!-- Range slider -->
    <label for="UrlImage">Url imagen
      <input type="url" id="UrlImage" name="UrlImage" placeholder="https://..." required>
    </label>
    <!-- Date -->
    <label for="date">Date
      <input type="date" id="date" name="date" required>
    </label>
    
    <input type ="submit">

</form>  



</div>














</body>

</html>